.b-vertical-nav {
  &__el {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #396590;
    padding: 20px;
    font-size: 15px;
    color: #ffffff;
    &_active {
      color: #ba9b65;
    }
  }
}
