.b-vertical-nav {
  &__el {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #638db5;
    padding: 20px;
    font-size: 15px;
    color: #ffffff;
    &:first-child {
      border-top: 1px solid #638db5;
    }
    &_active {
      color: #ba9b65;
    }
  }
}
