.b-events-list {
  &__event {
    overflow: hidden;
    margin-bottom: 30px;
  }
  &__date {
    color: red;
    float: left;
  }
  &__content {
    font-size: 15px;
    overflow: hidden;
    padding-left: 18px;
  }
}
