// @font-face {
//     font-family: 'open_sansregular';
//     src: url('/src/webFonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
//     src: url('/src/webFonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/src/webFonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
//          url('/src/webFonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
//          url('/src/webFonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
@blocksPath : '/src/blocks';

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


@import (css) "~normalize.css";


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #f1f4f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.4666666666666666;
  background: linear-gradient(to right, #3c70a2 275px, #f1f4f9 0px);
  position: relative;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

a {
  color: #4191df;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


@import 'b-wrap/b-wrap';
@import 'b-grid/b-grid';
@import 'b-man/b-man';
@import 'b-actions/b-actions';
@import 'b-action/b-action';
@import 'b-search/b-search';
@import 'b-page/b-page';
@import 'b-header/b-header';
@import 'b-logo/b-logo';
@import 'b-doc-icon/b-doc-icon';
@import 'b-events-list/b-events-list';
@import 'b-doc-list-pr/b-doc-list-pr';
@import 'b-action/b-action';

@import 'b-progress/b-progress';
@import 'b-news-list-preview/b-news-list-preview';
@import 'b-horizontal-nav/b-horizontal-nav';
@import 'b-vertical-nav/b-vertical-nav';
@import 'b-systems-list/b-systems-list';
@import 'b-simple-nav/b-simple-nav';
@import 'b-footer/b-footer';
@import 'b-f-logo/b-f-logo';
@import 'b-title/b-title';
@import 'b-tasks-list/b-tasks-list';
@import 'b-all/b-all';
@import 'b-what-is-that/b-what-is-that';

@import 'b-box/b-box';
@import 'b-box-inner/b-box-inner';
@import 'b-widget/b-widget';
@import 'b-calendar/b-calendar';

//@import 'dev';
