.b-progress {
  border-bottom: 1px solid #c2c5bf;
  &__line {
    background: #9ec764;
    height: 7px;
  }
  &__mark {
    background: #848484;
    width: 3px;
  }
  &_alarm {}
  &_alarm &__line {
    background: #fb7777;
  }
}
